* {
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: Open Sans;
	src: url(../fonts/OpenSans-Bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Open Sans;
	src: url(../fonts/OpenSans-Regular.woff2) format("woff2");
	font-weight: normal;
	font-style: normal;
}
.link {
	text-decoration: none;
}
.list {
	list-style-type: none;
}
html {
	font-size: 8px;
}
body {
	min-width: 320px;
	color: #ffffff;
	font-family: "Open Sans";
	font-weight: 400;
}


.main-header {
	background-color: #000000;
	background-image: url("../images/football_767.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}
.main-header::after {
  	content: "";
  	background-color: #0a0e34;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	opacity: 0.9;
 	position: absolute;
}
.content-container {
	box-sizing: border-box;
	width: 320px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}
.main-header .content-container {
  	position: relative;
  	z-index: 1;
 }
.logo-text {
	width: 135px;
	padding: 3.75em 0;
	margin: auto;
	fill: #ffffff;	
}
h1 {
	display: flex;
	flex-direction: column;
	margin-top: 100px;

	font-size: 28px;
	letter-spacing: 1px;
	line-height: 34px;
	font-weight: 700;
	text-transform: uppercase;
}
.welcome {
	margin-top: 20px;
}
.welcome.text {
	margin-left: 44px;
}
.buttons {
	margin-left: auto;
	margin-right: auto;
	padding: 10.5em 0 10.25em;
}
.button-container {
	height: 4.375em;
	box-sizing: border-box;
	display: flex;
	align-items: center;

	text-align: left;
	padding: 0.625em 0 0.625em 10.25em;
	background-color: #5e42b0;
	border-radius: 50px;
	margin-bottom: 1.75em;
}
.button-container:last-child {
	margin-bottom: 0;
}
.icon {
	width: 3.125em;
	height: 3.125em;
	fill: #ffffff;
}
.icon.apple {
	margin-bottom: 0.5em;
}
.app-button {
	margin-left: 0.625em;
}
.button-text {
	display: block;

	line-height: 1.25em;
	color: #ffffff;
	text-transform: uppercase;
}


.athlets-section, .players-section {
	position: relative;
	min-height: 947px;
}

h2 {
	padding: 0.2em 0;
	margin-bottom: 4.72em;

	font-size: 6.25rem;
	line-height: 1.2em;
	color: #e7e7e7;
	font-weight: 700;
	text-transform: uppercase;
}
.img-container {
	height: 282px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: 8em;
	z-index: 1;
}

.img-container.athlets {
	background-image: url("../images/footballer_192.png");
	right: 20%;
	left: 20%;
}
.img-container.players {
	background-image: url("../images/basketballer_302.png");
	right: 3%;
	left: 3%;
}
article:nth-of-type(3n+1) {
	background-color: #fafafa;
}
article:nth-of-type(3n+2) {
	background-color: #f5f4f9;
}
article:nth-of-type(3n+3) {
	background-color: #5e42b0;
}
.players-section article:nth-of-type(3n+3) {
	background-color: #090c35;
}
.article-header {
	display: flex;
	align-items: center;

	padding: 55px 20px 0;
}
.number-container {
	width: 17px;
	margin-right: 10px;
}
.article-number {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 17px;
	color: #000000;
	font-weight: 700;
	text-align: center;
}
.article-number::after {
  content: "";
  display: block;
  margin: auto;
  width: 15px;
  height: 4px;
  background-color: #5e42b0;
  border-radius: 1px;
}
.dark_background .article-number::after {
  background-color: #ffffff;
}
.article-number.dark_background {
	color: #8765dd;
}
h3 {
	font-size: 23px;
	letter-spacing: 1px;
	line-height: 34px;
	color: #c1c1c1;
	font-weight: 700;
	text-transform: uppercase;
}
.article-text {
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 18px;
	color: #000000;

	padding-top: 20px;
	padding-bottom: 50px
}
.dark_background .article-text {
	color: #ffffff;
}

article.aside-article {
	background-color: transparent;
}
.img-aside {
	min-height: 350px;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}
.img-aside.first {
	background-image: url("../images/be-active_640.jpg");
}
.img-aside.second {
	background-image: url("../images/find-contact_640.jpg");
}
.img-aside.third {
	background-image: url("../images/work-it_640.jpg");
}
.aside-article {
	position: relative;
}
h4 {
	padding-top: 30px;
	font-size: 28px;
	letter-spacing: 1px;
	line-height: 34px;
	color: #e7e7e7;
	font-weight: 700;
	text-transform: uppercase;
}
.aside-article .article-text {
	font-size: 16px;
	line-height: 20px;
}
.aside-article .number-container {
	box-sizing: border-box;
	width: 70px;
	height: 70px;
	background-color: #5e42b0;
	text-align: center;
	margin-right: 0;
	padding-top: 20px;
	position: absolute;
	top: 294px;
	z-index: 1;
}
.aside-article .article-number {
	line-height: 22px;
	color: #f5f6f7;
}
.aside-article .article-number::after {
   	background-color: #ffffff;
}

.footer {
	background-color: #000000;
	background-image: url("../images/game_767.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}
.footer::after {
	content: "";
  	background-color: #0a0e34;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	opacity: 0.9;
 	position: absolute;
}
.footer .content-container {
	position: relative;
	z-index: 1;
	padding-top: 100px;
}
.logo-container {
	box-sizing: border-box;
	width: 75px;
	height: 75px;
	margin: 0 auto 55px;
	padding-top: 10px;
	border-radius: 15px;
	fill: #ffffff;
	background-color: #5e42b0;
	background-image: linear-gradient(0deg, #50329c 0%, #5e3db3 51%, #7751db 100%);
	text-align: center;
}
.logo {
	width: 60px;
}
h5 {
	font-size: 32px;
	letter-spacing: 1px;
	font-weight: 700;
	text-transform: uppercase;
}
.footer-title {
	display: block;
	text-align: center;
	text-align-last: justify;
}
.footer-title.text {
	font-size: 14px;
	letter-spacing: normal;
	color: #9b8ec1;
	font-weight: 400;
	padding-left: 5px;
	padding-right: 5px;
}
footer .buttons {
	padding: 72px 0 48px;
}


@media (min-width: 641px) and (max-width: 960px) {
	.main-header {
		background-image: url("../images/football_1280.jpg");
	}
	.container {
		min-width: 641px;
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
	}
	.content-container {
		width: 100%;
		padding-left: 3.2%;
		padding-right: 3.2%;
	}
	.logo-text {
		width: 206px;
		padding: 38px 0;
	}
	h1 {
		margin-top: 142px;
		padding-left: 56px;
		font-size: 64px;
		letter-spacing: 3px;
	}
	.welcome.text {
		margin-left: 106px;
		line-height: 78px;
	}
	.buttons {
		padding: 300px 0 90px;
	}
	.buttons .list {
		display: flex;
		justify-content: space-around;
	}
	.button-container {
		height: 78px;
		width: 45%;
	 	padding: 15px 40px;
	}
	.icon {
		width: 47px;
		height: 47px;
	}
	.icon.google {
		margin-left: 15px; 
	}
	.app-button {
		margin-left: 25px;
	}
	.button-text {
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 1px;
		font-weight: 300;
	}
	span.button-text+.button-text {
		font-weight: 700;
	}


	.athlets-section, .players-section {
		min-height: 0;
	}
	h2 {
		padding: 80px 0 10px;
		font-size: 80px;
		margin-bottom: 0;
	}
	.img-container.athlets {
		height: 700px;
		background-position: left top;
		top: 84px;
		left: -160px;
	}
	.img-container.players {
		height: 700px;
		background-position: right top;
		top: 24px;
		right: 0;
		left: 298px;
	}
	.img-container.athlets {
		background-image: url("../images/footballer_497.png");
	}
	.img-container.players {
		background-image: url("../images/basketballer_436.png");
	}
	.athlets .content-container, .athlets-section .content-container {
		width: 63%;
		margin-right: 0;
	}
	.players .content-container, .players-section .content-container {
		width: 63%;
		margin-left: 0;
	}
	article:nth-of-type(3n+1) {
		background-color: #ffffff;
	}
	.number-container {
		width: 22px;
	}
	.article-number {
		font-size: 18px;
		line-height: 24px;
	}
	.article-number::after {
  		width: 19px;
  		height: 5px;
  		border-radius: 2px;
	}
	.aside-article {
		padding-bottom: 10%;
	}
	.img-aside {
		margin-bottom: 8%;
	}
	h4 {
		font-size: 80px;
		line-height: 60px;
	}
	.aside-article .article-text {
		font-size: 24px;
		line-height: 28px;
		padding-top: 35px;
	}
	.img-aside {
		min-height: 584px;
	}
	.img-aside.first {
		background-image: url("../images/be-active_960.jpg");
	}
	.img-aside.second {
		background-image: url("../images/find-contact_960.jpg");
	}
	.img-aside.third {
		background-image: url("../images/work-it_960.jpg");
	}
	.aside-article .number-container {
		width: 116px;
		height: 116px;
		padding-top: 40px;
		top: 494px;
	}
	.aside-article .article-number {
		font-size: 24px;
		letter-spacing: 1px;
		line-height: 34px;
	}
	.aside-article .article-number::after {
  		width: 28px;
  		background-color: 8f7bc8;
	}
	.footer {
		background-image: url("../images/game_1280.jpg");
	}
	.footer .content-container {
		padding-top: 124px;
	}
	.logo-container {
		width: 130px;
		height: 136px;
		margin: 0 auto 80px;
		padding-top: 24px;
		border-radius: 30px;
	}
	.logo {
		width: 100px;
	}
	h5 {
		font-size: 80px;
		letter-spacing: 2px;
		line-height: 60px;
		margin-bottom: 200px;
	}
	.footer-title.text {
		font-size: 36px;
		line-height: 60px;
		color: #a496ca;
		padding-left: 20px;
		padding-right: 20px;
		text-align-last: center;
	}
	.footer .buttons {
		padding: 72px 0 30px;
	}
	.footer .logo-text {
		padding: 22px 0;
	}
}


@media (min-width: 961px) and (max-width: 1920px) {
	.main-header {
		background-image: url("../images/football_1920.jpg");
	}
	.container {
		min-width: 961px;
		max-width: 1920px;
		margin-left: auto;
		margin-right: auto;
	}
	.content-container {
		width: 100%;
		max-width: 1560px;
		padding-left: 1%;
		padding-right: 1%;
	}
	.logo-text {
		width: 194px;
		padding: 44px 0;
	}
	h1 {
		margin-top: 246px;
		padding-left: 0;
		font-size: 90px;
		letter-spacing: 5px;
		line-height: 100px;
	}
	.welcome {
		margin-top: 0;
	}
	.welcome.text {
		margin-left: auto;
	}
	.buttons {
		padding: 220px 0 110px;
	}
	.buttons .list {
		display: flex;
		justify-content: center;
	}
	.button-container {
		height: 78px;
		width: 316px;
	 	padding: 15px 40px;
	 	margin: 0 25px;
	}
	.icon {
		width: 47px;
		height: 47px;
	}
	.icon.google {
		margin-left: 15px; 
	}
	.app-button {
		margin-left: 25px;
	}
	.button-text {
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 1px;
		font-weight: 400;
	}
	span.button-text+.button-text {
		font-weight: 700;
	}


	.athlets-section, .players-section {
		min-height: 0;
	}
	h2 {
		padding: 115px 0 53px;
		font-size: 80px;
		margin-bottom: 0;
	}
	.img-container.athlets {
		min-height: 910px;
		background-position: left top;
		top: 28px;
		left: 13.6%;
		right: 50%;
	}
	.img-container.players {
		height: 815px;
		background-position: right top;
		top: 22px;
		right: 6.4%;
		left: 42%;
	}
	.img-container.athlets {
		background-image: url("../images/footballer_566.png");
	}
	.img-container.players {
		background-image: url("../images/basketballer_991.png");
	}
	.athlets-section .content-container {
		width: 42%;
		margin-right: 8%;
	}
	.players-section .content-container {
		width: 42%;
		margin-left: 8%;
	}
	article:nth-of-type(3n+1) {
		background-color: #ffffff;
	}
	h3 {
		font-size: 36px;
		letter-spacing: 2px;
	}
	.article-text {
		font-size: 20px;
		line-height: 28px;
		padding-top: 28px;
		padding-bottom: 54px
	}
	.number-container {
		width: 22px;
	}
	.article-number {
		font-size: 18px;
		line-height: 24px;
	}
	.article-number::after {
  		width: 19px;
  		height: 5px;
  		border-radius: 2px;
	}

	.aside-article {
		padding-bottom: 0;
		display: flex;
	}
	.aside-article .content-container {
		width: 35%;
		margin-left: 7.3%;
	}
	.img-aside {
		margin-bottom: 0;
		width: 50%;
		max-height: 730px;
		background-size: cover;
	}
	h4 {
		padding-top: 35.6%;
		font-size: 80px;
		line-height: 60px;
	}
	.aside-article .article-text {
		font-size: 24px;
		line-height: 28px;
		padding-top: 14%;
		padding-bottom: 33.7%;
	}
	.img-aside.first {
		background-image: url("../images/be-active_1024.jpg");
	}
	.img-aside.second {
		background-image: url("../images/find-contact_1024.jpg");
		order: 1;
	}
	.img-aside.third {
		background-image: url("../images/work-it_1024.jpg");
	}
	
	.aside-article .number-container {
		width: 168px;
		height: 154px;
		padding-top: 60px;
		top: 28.8%;
		left: calc(50% - 84px);
	}
	.aside-article .article-number {
		font-size: 24px;
		letter-spacing: 1px;
		line-height: 34px;
	}
	.aside-article .article-number::after {
  		width: 24px;
  		background-color: 8f7bc8;
	}
	.footer {
		background-image: url("../images/game_1280.jpg");
	}
	.footer .content-container {
		padding-top: 228px;
	}
	.footer-title-container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
	}
	.logo-container {
		width: 130px;
		height: 136px;
		padding-top: 24px;
		border-radius: 30px;
		margin: 0 28px;
	}
	.logo {
		width: 100px;
	}
	h5 {
		font-size: 80px;
		letter-spacing: 4px;
		line-height: 60px;
	}
	.footer-title {
		text-align: left;
		text-align-last: left;
		padding-top: 15px;
	}
	.footer-title.text {
		font-size: 30px;
		line-height: 34px;
		color: #a496ca;
	}
	.footer .buttons {
		padding: 70px 0;
		margin: 80px 0 138px;
	}
	.footer .logo-text {
		padding: 52px 0;
	}
}


@media (min-width: 1920px) {
	.main-header {
		background-image: url("../images/football_1920.jpg");
	}
	.container {
		width: 100%
	}
	.content-container {
		width: 100%;
		max-width: 1560px;
		padding-left: 1%;
		padding-right: 1%;
	}
	.logo-text {
		width: 194px;
		padding: 44px 0;
	}
	h1 {
		margin-top: 246px;
		padding-left: 0;
		font-size: 90px;
		letter-spacing: 5px;
		line-height: 100px;
	}
	.welcome {
		margin-top: 0;
	}
	.welcome.text {
		margin-left: auto;
	}
	.buttons {
		padding: 220px 0 110px;
	}
	.buttons .list {
		display: flex;
		justify-content: center;
	}
	.button-container {
		height: 78px;
		width: 316px;
	 	padding: 15px 40px;
	 	margin: 0 25px;
	}
	.icon {
		width: 47px;
		height: 47px;
	}
	.icon.google {
		margin-left: 15px; 
	}
	.app-button {
		margin-left: 25px;
	}
	.button-text {
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 1px;
		font-weight: 400;
	}
	span.button-text+.button-text {
		font-weight: 700;
	}


	.athlets-section, .players-section {
		min-height: 0;
	}
	h2 {
		padding: 115px 0 53px;
		font-size: 80px;
		margin-bottom: 0;
	}
	.img-container.athlets {
		min-height: 910px;
		background-position: left top;
		top: 28px;
		left: 13.6%;
		right: 50%;
	}
	.img-container.players {
		height: 815px;
		background-position: right top;
		top: 22px;
		right: 6.4%;
		left: 42%;
	}
	.img-container.athlets {
		background-image: url("../images/footballer_566.png");
	}
	.img-container.players {
		background-image: url("../images/basketballer_991.png");
	}
	.athlets-section .content-container {
		width: 42%;
		margin-right: 8%;
	}
	.players-section .content-container {
		width: 42%;
		margin-left: 8%;
	}
	article:nth-of-type(3n+1) {
		background-color: #ffffff;
	}
	h3 {
		font-size: 36px;
		letter-spacing: 2px;
	}
	.article-text {
		font-size: 20px;
		line-height: 28px;
		padding-top: 28px;
		padding-bottom: 54px
	}
	.number-container {
		width: 22px;
	}
	.article-number {
		font-size: 18px;
		line-height: 24px;
	}
	.article-number::after {
  		width: 19px;
  		height: 5px;
  		border-radius: 2px;
	}

	.aside-article {
		padding-bottom: 0;
		display: flex;
	}
	.aside-article .content-container {
		width: 35%;
		margin-left: 7.3%;
	}
	.img-aside {
		margin-bottom: 0;
		width: 50%;
		min-height: 730px;
		background-size: cover;
	}
	h4 {
		padding-top: 35.6%;
		font-size: 80px;
		line-height: 60px;
	}
	.aside-article .article-text {
		font-size: 24px;
		line-height: 28px;
		padding-top: 14%;
		padding-bottom: 33.7%;
	}
	.img-aside.first {
		background-image: url("../images/be-active_1024.jpg");
	}
	.img-aside.second {
		background-image: url("../images/find-contact_1024.jpg");
		order: 1;
	}
	.img-aside.third {
		background-image: url("../images/work-it_1024.jpg");
	}
	
	.aside-article .number-container {
		width: 168px;
		height: 154px;
		padding-top: 60px;
		top: 28.8%;
		left: calc(50% - 84px);
	}
	.aside-article .article-number {
		font-size: 24px;
		letter-spacing: 1px;
		line-height: 34px;
	}
	.aside-article .article-number::after {
  		width: 24px;
  		background-color: 8f7bc8;
	}
	.footer {
		background-image: url("../images/game_1280.jpg");
	}
	.footer .content-container {
		padding-top: 228px;
	}
	.footer-title-container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
	}
	.logo-container {
		width: 130px;
		height: 136px;
		padding-top: 24px;
		border-radius: 30px;
		margin: 0 28px;
	}
	.logo {
		width: 100px;
	}
	h5 {
		font-size: 80px;
		letter-spacing: 4px;
		line-height: 60px;
	}
	.footer-title {
		text-align: left;
		text-align-last: left;
		padding-top: 15px;
	}
	.footer-title.text {
		font-size: 30px;
		line-height: 34px;
		color: #a496ca;
	}
	.footer .buttons {
		padding: 70px 0;
		margin: 80px 0 138px;
	}
	.footer .logo-text {
		padding: 52px 0;
	}
}