* {
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: Open Sans;
	src: url(../fonts/OpenSans-Bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Open Sans;
	src: url(../fonts/OpenSans-Regular.woff2) format("woff2");
	font-weight: normal;
	font-style: normal;
}
.link {
	text-decoration: none;
}
.list {
	list-style-type: none;
}
html {
	font-size: 8px;
}
body {
	min-width: 320px;
	color: #ffffff;
	font-family: "Open Sans";
	font-weight: 400;
}


.main-header {
	background-color: #000000;
	background-image: url("../images/football_767.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;

	padding: 30px 0 70px;
}
.main-header::after {
  	content: "";
  	background-color: #0a0e34;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	opacity: 0.9;
 	position: absolute;
}
.container {
	width: 100vw;
	overflow: hidden;
}
.content-container {
	box-sizing: border-box;
	width: 320px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}
.main-header .content-container {
  	position: relative;
  	z-index: 1;
 }
.logo-text-container {
	width: 135px;
	margin: auto;	
}
.logo-text {
	fill: #ffffff;
}
.h1 {
	display: flex;
	flex-direction: column;
	margin-top: 130px;

	font-size: 28px;
	letter-spacing: 1px;
	line-height: 34px;
	font-weight: 700;
	text-transform: uppercase;
}
.welcome {
	margin-left: 44px;
	margin-top: 15px;
}
.buttons {
	margin: 85px auto 0;
}
.button-container {
	display: flex;
	align-items: center;
	height: 36px;
	box-sizing: border-box;
	text-align: left;
	padding:5px 0 5px 82px;
	background-color: #5e42b0;
	border-radius: 50px;
	margin-bottom: 14px;
}
.icon {
	width: 25px;
	height: 25px;
	fill: #ffffff;
}
.icon.apple {
	margin-bottom: 4px;
}
.app-button {
	margin-left: 5px;
}
.button-text {
	display: block;

	line-height: 11px;
	color: #ffffff;
	text-transform: uppercase;
}


.athlets-section, .players-section {
	position: relative;
	min-height: 947px;
	padding-top: 13px;
}

.h2 {
	padding-bottom: 10px;
	margin-bottom: 236px;

	font-size: 50px;
	line-height: 60px;
	color: #e7e7e7;
	font-weight: 700;
	text-transform: uppercase;
}
.img-container {
	position: absolute;
	top: 80px;
	z-index: 1;
}

.img-container.athlets {
	right: 20%;
	left: 20%;
}
.img-container.players {
	right: 3%;
	left: 3%;
}
.article:nth-of-type(3n+1) {
	background-color: #fafafa;
}
.article:nth-of-type(3n+2) {
	background-color: #f5f4f9;
}
.article:nth-of-type(3n+3) {
	background-color: #5e42b0;
}
.players-section .article:nth-of-type(3n+3) {
	background-color: #090c35;
}
.article {
	padding: 55px 0;
}
.article-header {
	display: flex;
	align-items: center;
}
.number-container {
	width: 17px;
	margin-right: 10px;
}
.article-number {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 17px;
	color: #000000;
	font-weight: 700;
	text-align: center;
}
.article-number::after {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15px;
  height: 4px;
  background-color: #5e42b0;
  border-radius: 1px;
}
.dark_background .article-number::after {
  background-color: #ffffff;
}
.article-number.dark_background {
	color: #8765dd;
}
.h3 {
	font-size: 23px;
	letter-spacing: 1px;
	line-height: 34px;
	color: #c1c1c1;
	font-weight: 700;
	text-transform: uppercase;
}
.article-text {
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 18px;
	color: #000000;
	margin-top: 20px;
}
.dark_background .article-text {
	color: #ffffff;
}

.article.aside-article {
	background-color: transparent;
}
.img-aside img {
	object-fit: cover;
	width: 100vw;
	max-height: 350px;
}
.aside-article {
	
	padding-top: 0;
}
.aside-article .content-container {
	position: relative;
	padding-top: 30px;
}
.h4 {
	font-size: 28px;
	letter-spacing: 1px;
	line-height: 34px;
	color: #e7e7e7;
	font-weight: 700;
	text-transform: uppercase;
}
.aside-article .article-text {
	font-size: 16px;
	line-height: 20px;
}
.aside-article .number-container {
	box-sizing: border-box;
	width: 70px;
	height: 70px;
	background-color: #5e42b0;
	text-align: center;
	margin-right: 0;
	padding-top: 20px;
	position: absolute;
	top: -60px;
	z-index: 1;
}
.aside-article .article-number {
	line-height: 22px;
	color: #f5f6f7;
}
.aside-article .article-number::after {
   	background-color: #ffffff;
}

.footer {
	background-color: #000000;
	background-image: url("../images/game_767.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}
.footer::after {
	content: "";
  	background-color: #0a0e34;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	opacity: 0.9;
 	position: absolute;
}
.footer .content-container {
	position: relative;
	z-index: 1;
	padding-top: 100px;
	padding-bottom: 9px;
}
.logo-container {
	box-sizing: border-box;
	width: 75px;
	height: 75px;
	margin: 0 auto 50px;
	padding-top: 10px;
	border-radius: 15px;
	fill: #ffffff;
	background-color: #5e42b0;
	background-image: linear-gradient(0deg, #50329c 0%, #5e3db3 51%, #7751db 100%);
	text-align: center;
}
.logo {
	width: 60px;
}
.h5 {
	font-size: 32px;
	letter-spacing: 1px;
	font-weight: 700;
	text-transform: uppercase;
}
.footer-title {
	display: block;
	text-align: center;
	text-align-last: justify;
}
.footer-title.text {
	font-size: 14px;
	letter-spacing: normal;
	color: #9b8ec1;
	font-weight: 400;
	padding-left: 5px;
	padding-right: 5px;
}
.footer .buttons {
	margin: 75px auto 80px;
}


@media (min-width: 641px) and (max-width: 960px) {
	.main-header {
		background-image: url("../images/football_1280.jpg");
		padding: 38px 0 90px;
	}
	.content-container {
		width: 100%;
		padding-left: 3.125%;
		padding-right: 3.125%;
	}
	.logo-text-container {
		width: 206px;
	}
	.h1 {
		margin-top: 180px;
		padding-left: 56px;
		font-size: 64px;
		letter-spacing: 3px;
		line-height: 78px;
	}
	.welcome {
		margin-left: 106px;
	}
	.buttons {
		margin-top: 300px;
	}
	.buttons .list {
		display: flex;
		justify-content: space-evenly;
	}
	.button-container {
		height: 78px;
		min-width: 312px;
	 	padding: 15px 40px;
	 	margin-bottom: 0;
	}
	.icon {
		width: 47px;
		height: 47px;
	}
	.icon.google {
		margin-left: 15px; 
	}
	.app-button {
		margin-left: 25px;
	}
	.button-text {
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 1px;
		font-weight: 300;
	}
	span.button-text+.button-text {
		font-weight: 700;
	}


	.athlets-section, .players-section {
		min-height: 0;
		padding-top: 80px;
	}
	.h2 {
		padding-bottom: 10px;
		font-size: 80px;
		margin-bottom: 0;
	}
	.img-container.athlets {
		top: 92px;
		left: -160px;
	}
	.img-container.players {
		top: 44px;
		right: 0;
		left: auto;
	}
	.athlets .content-container, .athlets-section .content-container {
		width: 64%;
		margin-right: 0;
	}
	.players .content-container, .players-section .content-container {
		width: 64%;
		margin-left: 0;
	}
	.article:nth-of-type(3n+1) {
		background-color: #ffffff;
	}
	.number-container {
		width: 22px;
	}
	.article-number {
		font-size: 18px;
		line-height: 24px;
	}
	.article-number::after {
  		width: 19px;
  		height: 5px;
  		border-radius: 2px;
	}
	.aside-article {
		padding-bottom: 10%;
	}
	.img-aside img {
		max-height: 585px;
	}
	.aside-article .content-container {
		padding-top: 85px;
	}
	.h4 {
		font-size: 80px;
		line-height: 60px;
	}
	.aside-article .article-text {
		font-size: 24px;
		line-height: 28px;
		margin-top: 35px;
	}
	.img-aside {
		min-height: 584px;
	}
	.aside-article .number-container {
		width: 116px;
		height: 116px;
		padding-top: 40px;
		top: -80px;
	}
	.aside-article .article-number {
		font-size: 24px;
		letter-spacing: 1px;
		line-height: 34px;
	}
	.aside-article .article-number::after {
  		width: 28px;
  		background-color: 8f7bc8;
	}
	.footer {
		background-image: url("../images/game_1280.jpg");
	}
	.footer .content-container {
		padding-top: 124px;
		padding-bottom: 22px;
	}
	.logo-container {
		width: 130px;
		height: 136px;
		margin: 0 auto 80px;
		padding-top: 24px;
		border-radius: 30px;
	}
	.logo {
		width: 100px;
	}
	.h5 {
		font-size: 80px;
		letter-spacing: 2px;
		line-height: 60px;
	}
	.footer-title {
		text-align-last: center;
	}
	.footer-title.text {
		font-size: 36px;
		line-height: 60px;
		color: #a496ca;
		padding: 0 20px;
		margin-top: 15px;
		text-align-last: center;
	}
	.footer .buttons {
		margin: 275px auto 52px;
	}
	.footer .logo-text {
		padding: 22px 0;
	}
}


@media (min-width: 961px) and (max-width: 1920px), (min-width: 1920px) {
	.main-header {
		background-image: url("../images/football_1920.jpg");
		padding: 42px 0 110px;
	}
	.content-container {
		width: 100%;
		max-width: 1560px;
		padding-left: 1%;
		padding-right: 1%;
	}
	.logo-text-container {
		width: 194px;
	}
	.h1 {
		margin-top: 280px;
		padding-left: 0;
		font-size: 90px;
		letter-spacing: 5px;
		line-height: 100px;
	}
	.welcome {
		margin-left: 27%;	
	}
	.buttons {
		margin-top: 220px;
	}
	.buttons .list {
		display: flex;
		justify-content: center;
	}
	.button-container {
		height: 78px;
		width: 316px;
	 	padding: 15px 40px;
	 	margin: 0 25px;
	}
	.icon {
		width: 47px;
		height: 47px;
	}
	.icon.google {
		margin-left: 15px; 
	}
	.app-button {
		margin-left: 25px;
	}
	.button-text {
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 1px;
		font-weight: 400;
	}
	span.button-text+.button-text {
		font-weight: 700;
	}

	.athlets-section, .players-section {
		min-height: 0;
		padding-top: 115px;
	}
	.h2 {
		padding-bottom: 53px;
		font-size: 80px;
		margin-bottom: 0;
	}
	.img-container.athlets {
		top: 3.15%;
		bottom: -5.63%;
		left: auto;
		right: 50%;
	}
	.img-container.players {
		top: 22px;
		right: auto;
		left: 40%;
	}
	.athlets-section .content-container {
		width: 42%;
		margin-right: 8%;
	}
	.players-section .content-container {
		width: 42%;
		margin-left: 8%;
	}
	.article:nth-of-type(3n+1) {
		background-color: #ffffff;
	}
	.h3 {
		font-size: 36px;
		letter-spacing: 2px;
	}
	.article-text {
		font-size: 20px;
		line-height: 28px;
	}
	.number-container {
		width: 22px;
	}
	.article-number {
		font-size: 18px;
		line-height: 24px;
	}
	.article-number::after {
  		width: 19px;
  		height: 5px;
  		border-radius: 2px;
	}

	.aside-article {
		padding-bottom: 0;
		display: flex;
	}
	.aside-article .content-container {
		width: 50vw;
		padding: 0 7.5% 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.img-aside img {
		width: 50vw;
		max-height: 730px;
		display: block;
	}
	.h4 {
		font-size: 80px;
		line-height: 60px;
	}
	.aside-article .article-text {
		font-size: 24px;
		line-height: 28px;
		margin-top: 14%;
	}
	.img-aside.second {
		order: 1;
	}
	
	.aside-article .number-container {
		width: 8.75vw;
		height: 8.02vw;
		padding: 0;
		top: 33%;
		left: 0;
		transform: translateX(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.aside-article:nth-child(even) .number-container {
		left: auto;
		right: 0;
		transform: translateX(50%);
	}
	.aside-article .article-number {
		font-size: 24px;
		letter-spacing: 1px;
		line-height: 24px;
	}
	.aside-article .article-number::after {
		margin-top: 5px;
  		width: 24px;
  		background-color: 8f7bc8;
	}
	.footer {
		background-image: url("../images/game_1280.jpg");
	}
	.footer .content-container {
		padding-top: 228px;
		padding-bottom: 52px;
	}
	.footer-title-container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
	}
	.logo-container {
		width: 130px;
		height: 136px;
		padding-top: 24px;
		border-radius: 30px;
		margin: 0 28px 0 0;
	}
	.logo {
		width: 100px;
	}
	.h5 {
		font-size: 80px;
		letter-spacing: 4px;
		line-height: 60px;
	}
	.footer-title {
		text-align: left;
		text-align-last: left;
		margin-top: 15px;
	}
	.footer-title.text {
		font-size: 30px;
		line-height: 34px;
		color: #a496ca;
	}
	.footer .buttons {
		margin: 150px auto 260px;
	}
	.footer .logo-text {
		padding: 52px 0;
	}
}
